*.gz
*.swp
attic
genpdf_*
/JQDataTablesPlugin_installer
/JQDataTablesPlugin_installer.pl
/JQDataTablesPlugin.md5
/JQDataTablesPlugin.sha1
/JQDataTablesPlugin.tgz
/JQDataTablesPlugin.txt
/JQDataTablesPlugin.zip

pub/System/JQDataTablesPlugin/currency.js
pub/System/JQDataTablesPlugin/date-foswiki.js
pub/System/JQDataTablesPlugin/jquery.datatables.addons.js
pub/System/JQDataTablesPlugin/jquery.datatables.css
pub/System/JQDataTablesPlugin/jquery.datatables.init.js
pub/System/JQDataTablesPlugin/metrics.js

